* {
  box-sizing: border-box;
}

*:before {
  box-sizing: inherit;
}

*:after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: pink;
  font-size: 16px;
  margin: 0;
}

a:focus,
button:focus {
  outline: 0.125rem dashed #ffd4ff;
}

.container {
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

p {
  font-size: 1.1rem;
}

.audio {
  left: 0.3rem;
  position: absolute;
  top: 0.3rem;
}

.audio svg {
  margin: 0.1rem 0.5rem;
}

.audio button {
  background-color: white;
  border: 0.3rem solid black;
  margin: 0;
  padding: 0;
}

.audio button:hover {
  cursor: pointer;
}
